@import url('https://fonts.googleapis.com/css2?family=Dongle&family=Staatliches&family=Work+Sans&display=swap');

header {
    display: flex;
    justify-content: flex-end;
    background-color: black;
    padding: 10px;
    font-size: 14px;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: black;
}

.container {
    display: flex;
    justify-content: center;
}

#content-card {
    display: flex;
    margin: 0;
    padding: 0;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.card {
    display: flex;
    margin: 0;
    padding: 15px;
    align-items: center;
    justify-content: center;
    background-color: #42414d;
    border-radius: 20px;
}

#grid-container {
    margin: 0;
    padding: 0;
    width: 700px;
    height: 700px;
    display: flex;
    flex-wrap: wrap;
    border: black solid 1px;
    box-sizing: border-box;
    flex-shrink: 0;
    
}

.grid-square {
    margin: 0;
    padding: 0;
    border: lightgrey solid 1px;
    box-sizing: border-box;
}

button:active, .pressed {
    background-color: #83b6ec;
    border-radius: 4px;
}

button {
    padding: 10px 0px;
    font-family: 'Dongle', sans-serif;
    font-size: 30px;
}

#clear {
    background-color: #ff3333;
    border-radius: 4px;
}
#clear:active {
    background-color: #b32020;
}

#colour-wheel {
    width: 100%;
    margin-top: 2px;
}

.main-footer {
    display: flex;
    justify-content: center;
    font-size: 12px;
    padding: 10px;
    color: white;
    background-color: black;
    margin-top: auto;
}

.user-interface {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 700px;
}

.UI-header {
    
    background-color: #398ee7;
    font-size: 36px;
    font-weight: bold;
    color: #fbfbfe;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 15px 20px 20px 15px;
    border-radius: 10px;
}

p {
    margin: 0;
}

a {
    text-decoration: none;
    color: white;
    transition: 0.1s;
    margin-right: 30px;
}
a:hover {
    transform: scale(1.2);
}

.colour-container {
    display: flex;
    flex-direction: column;
}

#colour-mode {
    flex: 1;
}

.slide-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}